.content {
}
.popup {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
}
.popup-content {
	overflow: auto;
	position: fixed;
	width: calc(100% - 60px);
	height: calc(100% - 200px);
	background: white;
	border-radius: 10px;
}

.overlay {
	visibility: hidden;
	width: 200px;
	background-color: Indigo;
	color: yellow;
	text-align: center;
	border-radius: 10px;
	padding: 10px 5px;
	position: absolute;
	z-index: 1;
	top: 200%;
	left: 50%;
	margin-left: -110px;
	margin-top: -138px;
}
.overlay::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-bottom: 10px;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: Indigo transparent transparent transparent;
}

/** 하단 말풍선
.overlay {
	visibility: hidden;
	width: 200px;
	background-color: Indigo;
	color: yellow;
	text-align: center;
	border-radius: 10px;
	padding: 10px 5px;
	position: absolute;
	z-index: 1;
	top: 400%;
	left: 50%;
	margin-left: -110px;
}
.overlay::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent Indigo transparent;
}
*/

.mbr-section-btn a.btn-group:not(.btn-form) {
  border-radius: 5px;
}
.mbr-section-btn a.btn-group:not(.btn-form):hover,
.mbr-section-btn a.btn-group:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn-group:not(.btn-form):hover,
.mbr-section-btn a.btn-group:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}

/*! Buttons */
.btn-group {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .4rem;
  padding: .8rem 1.2rem;
  white-space: normal;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex; }
