<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="description" content="">

	<title>Home</title>
	<link rel="stylesheet" href="/css/ol.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/map.css">
	<link rel="stylesheet" href="/css/custom.css">
	
	<script src="/externlib/jquery-3.4.1/jquery.min.js"></script>
	<script src="/externlib/proj4js-2.4.3/proj4.min.js"></script>
	<script src="/externlib/ol/ol.js"></script>
	
	<script src="/js/gis.js"></script>
	<script src="/js/research.js"></script>
	<script type="text/javascript">
	
		var map = new pokemap({
		    target: "map",
		});
	
	</script>
</head>

<body>
<div class="content">
	<div>
		<div>POKEMAP</div>
		<div>Research</div>
		<div class="admin-mode">
			<ul>
				<li id="registerPokestopMode" class="nav-item">Register pokestop</li>
				<li id="registerResearchMode" class="nav-item">Manage research</li>
			</ul>
		</div>
	</div>

	<div>
		<div>Map</div>
		<input type="checkbox" id="mode" value="false" style="display: none;">
		<button type="button" id="success" style="font-size: 10px; display: none;">완료</button>
		<div id="map" class="map"></div>
		
	</div>

	<div>
		<div>필드 리서치 보상 검색</div>
		<div class="container">
			<div class="row search">
				<div class="mbr-section-btn align-center research">
					<a class="btn-group btn-toggle display-4" data-code="TH">던지기</a>
					<a class="btn-group btn-toggle display-4" data-code="EV">진화</a>
					<a class="btn-group btn-toggle display-4" data-code="PO">강화</a>
					<a class="btn-group btn-toggle display-4" data-code="CA">잡기</a>
					<a class="btn-group btn-toggle display-4" data-code="HA">부화</a>
					<a class="btn-group btn-toggle display-4" data-code="BA">배틀</a>
					<a class="btn-group btn-toggle display-4" data-code="ETC">기타</a>
				</div>
			</div>
		</div>
		<div class="container">
			<ul id="researchListView">
				<li>
					<strong>키워드를 클릭해보세요.</strong><br />
					<span>던지기/진화/강화/잡기/부화/배틀/기타</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="popupRegistPokestop" class="popup">
	<div class="popup-content">
		<div style="margin: 30px;">
			<div>
		  		<label for="code">코드</label>
				<select id="code">
					<option value="STOP">포켓스탑</option>
					<option value="GYM">체육관</option>
				</select>
			</div>
			<div>
		  		<label for="title">제목</label>
				<input type="text" id="title" value="" >
			</div>
		</div>
		<div style="text-align: center;">
	  		<button type="button" id="save" style="font-size: 10px;">저장</button>
	  		<button type="button" id="close" style="font-size: 10px;">닫기</button>
		</div>
	</div>
</div>
<div id="popupOverlay" class="overlay" title="Infomation">

</div>
</body>
</html>